/* load fonts */
@import url('http://fonts.googleapis.com/css?family=Roboto:400,900,100');

$orange:              #E65C43;
$yellow:              #FFF;
$gray:                #666;
$background:          #F25C43;
$background-greybar:  #F5F6F6;
$background-footer:   #30353D;

$font-body: Roboto, sans-serif;



